# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
.build/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.swp

# SwiftPM
Packages/
Package.resolved

# CocoaPods / Carthage (if you ever add them)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets / env
*.env
*.plist
*.p12
*.mobileprovision
